{% extends "base.html" %}

{% from 'bootstrap5/utils.html' import render_messages %}

{% block title %}Changes{% endblock %}

{% block content %}

{{ render_messages(container=True, dismissible=True) }}

<div class="container">
  <ul>
    <li>Capture settings (to change them, please trigger a new monitoring from lookyloo):
      <pre>
      {{details['capture_settings']}}
      </pre>
    </li>
    {% if 'next_capture' in details%}
    <li>Next capture: {{details['next_capture'].isoformat() }}</li>
    {%endif%}
    {% if details['number_captures'] == 0%}
    <li>No captures available</li>
    {% elif details['number_captures'] == 1%}
    <li>Only one capture available, cannot compare yet.</li>
    {%else%}
    <li>{{details['number_captures']}} captures available.</li>
    <li>Last one triggered at {{details['last_capture'].isoformat()}}</li>
    {%endif%}
  </ul>

  <p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSettingsEdit"
            aria-expanded="false" aria-controls="collapseSettingsEdit">
      Edit monitoring settings
    </button>
  </p>
  <div class="collapse" id="collapseSettingsEdit">
   <div class="card card-body">
    <form method="POST" action="{{ url_for('changes_tracking', monitor_uuid=monitor_uuid)}}">
      {{ monitoring_form.csrf_token }}
      <div class="mb-3">
        {{ monitoring_form.frequency.label(class="form-label") }}
        <input class="form-control" list="freqOptions" type="text" id="frequency" name="frequency" value="{{monitoring_form.frequency.data}}">
        <datalist id="freqOptions">
          {{ monitoring_form.frequency(class="form-control form-control-sm") }}
        </datalist>
      </div>
      <div class="mb-3">
      {{ monitoring_form.expire_at.label(class="form-label") }} {{ monitoring_form.expire_at(class="form-control form-control-sm") }}
      </div>
      <div class="mb-3">
      {{ monitoring_form.collection.label(class="form-label") }} {{ monitoring_form.collection(class="form-control form-control-sm") }}
      </div>
      <div class="mb-3">
        {{ monitoring_form.compare_settings.ressources_ignore_domains.label(class="form-label") }}
        <div>
        {%for settings in monitoring_form.compare_settings.ressources_ignore_domains %}
          {{ settings(class="form-control form-control-sm") }}
        {%endfor%}
        </div>
      </div>
      <div class="mb-3">
        {{ monitoring_form.compare_settings.ressources_ignore_regexes.label(class="form-label") }}
        <div>
        {%for settings in monitoring_form.compare_settings.ressources_ignore_regexes %}
          {{ settings(class="form-control form-control-sm") }}
        {%endfor%}
        </div>
      </div>
      <div class="mb-3">
        {{ monitoring_form.compare_settings.ignore_ips.label(class="form-label") }}
        {{ monitoring_form.compare_settings.ignore_ips(class="form-check-input") }}
      </div>
      <div class="mb-3">
        {{ monitoring_form.compare_settings.skip_failed_captures.label(class="form-label") }}
        {{ monitoring_form.compare_settings.skip_failed_captures(class="form-check-input") }}
      </div>
      <div class="mb-3">
        {{ monitoring_form.never_expire.label(class="form-label") }}
        {{ monitoring_form.never_expire(class="form-check-input") }}
      </div>

      {% if current_user.is_authenticated %}
      <div class="mb-3">
      {{ monitoring_form.notification.email.label(class="form-label") }}
      {{ monitoring_form.notification.email(class="form-control form-control-sm") }}
      </div>
      {% endif %}

      {% if current_user.is_authenticated %}
      <input type="submit" value="Update" class="btn btn-primary">
      {%else%}
      <div class="mb-3">
          You must be authenticated to change the settings.
      </div>
      {% endif %}
    </form>
   </div>
  </div>

  {% if 'lookyloo_urls' in changes%}
  <h4>Links to the captures on Lookyloo</h4>
  <ul>
      <li><a href="{{changes['lookyloo_urls']['left']}}">Old capture</a></li>
      <li><a href="{{changes['lookyloo_urls']['right']}}">New capture</a></li>
  </ul>
  {%endif%}
  <hr>
  {% if changes['different'] is false %}
   Both captures are the same.
   <pre>
   {{changes_txt}}
   </pre>
  {% else %}
   Comparison of the two most recent captures:
   <ul>
   {% for k, info in changes.items() %}
     {% if k in ['root_url', 'final_url', 'final_hostname', 'final_status_code', 'redirects', 'error'] %}
       {% if k == 'redirects' %}
       <li>{{ info['length']['message'] }} ({{info['length']['details']}})</li>
       <li>Nodes to the landing page</li>
       <ol class="list-group-numbered">
       {%for node_details in info['nodes']%}
           {%for _, node in node_details.items() %}
           <li class="list-group-item">{{node['message']}}
               {% if node['details'] is string or node['details'] is integer %}
                   ({{node['details']}})
               {%else%}
                   <ul>
                       {% for entry in node['details'] %}
                       <li>{{entry}}</li>
                       {% endfor %}
                   </ul>
               {%endif%}
           </li>
           {% endfor %}

       {% endfor %}
       </ol>

       {% else %}
       <li>{{info['message']}}
           {% if info['details'] is string or info['details'] is integer %}
               ({{info['details']}})
           {%else%}
               <ul>
                   {% for entry in info['details'] %}
                   <li>{{entry}}</li>
                   {% endfor %}
               </ul>
           {%endif%}
       </li>
       {%endif%}

     {% elif k == 'ressources' %}
     <li>Ressources in both captures:</li>
     <ul>
       {% for url in info['both']%}
       <li>{{url}}</li>
       {% endfor %}
     </ul>
     <li>Ressources in moth recent capture only:</li>
     <ul>
       {% for url in info['left']%}
       <li>{{url}}</li>
       {% endfor %}
     </ul>
     <li>Ressources in oldest capture only:</li>
     <ul>
       {% for url in info['right']%}
       <li>{{url}}</li>
       {% endfor %}
     </ul>
     {%endif%}
   {% endfor %}
   </ul>
  <pre>
  {{changes_txt}}
  </pre>
  {% endif %}
</div>



{% endblock %}
