{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ongoing</th>
      <th scope="col">Expired</th>
    </tr>
    </thead>
    <tbody>
    {% for collection in collections %}
    <tr>
      <th scope="row">{{collection}}</th>
      <td><a href="{{ url_for('monitored', collection=collection)}}">See ongoing</a></td>
      <td><a href="{{ url_for('expired', collection=collection)}}">See expired</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
