{% extends "base.html" %}

{% block title %}Compare captures{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>

    function start_method(e) {
      this.getElementsByClassName("btn")[0].disabled = true;
      this.getElementsByClassName("btn")[0].textContent = "Monitoring started";
    }

    document.getElementsByName("start_monitoring")
      .forEach(form => form.addEventListener('submit', start_method));
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">URL</th>
      <th scope="col">Last capture</th>
      <th scope="col">Next capture</th>
      <th scope="col">Number of captures</th>
      <th scope="col">Restart monitoring</th>
    </tr>
    </thead>
    <tbody>
    {% for details in monitored_index %}
    <tr>
      <th scope="row">
        {% if details['number_captures'] >= 2 %}
          <a href="{{ url_for('changes_tracking', monitor_uuid=details['uuid'])}}">{{details['uuid']}}</a>
        {% else %}
          {{details['uuid']}}
        {%endif%}
      </th>
      <td>{{details['capture_settings']['url']}}</td>
      <td>
        {% if 'last_capture' in details %}
          {{details['last_capture'].isoformat()}}
        {% else%}
          Never captured.
        {% endif %}
      </td>
      <td>
        {% if 'next_capture' in details %}
          {{details['next_capture'].isoformat()}}
        {% else%}
          No captures scheduled.
        {% endif %}
      </td>
      <td>{{details['number_captures']}}</td>
      <td>
        <form method="POST" action="{{url_for('start_monitor', monitor_uuid=details['uuid'])}}"
              name="start_monitoring" target="ignore">
          <button type="submit" class="btn btn-primary" name="start_button">Start</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<iframe name="ignore" src="about:blank" style="display:none;"></iframe>
{% endblock %}
