name: Python application - API Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    permissions:
      contents: read

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    name: Python ${{ matrix.python-version }} sample

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}

    - name: Install with poetry
      run: |
        python -m pip install --upgrade pip poetry
        poetry install
        echo WEBMONITORING_HOME=`pwd` > .env

    - name: Clone Valkey
      uses: actions/checkout@v6
      with:
        repository: valkey-io/valkey
        path: valkey-tmp
        ref: '8.0'

    - name: Install and setup valkey
      run: |
        mv valkey-tmp ../valkey
        pushd ..
        pushd valkey
        make
        popd
        popd

    - name: Run API tests
      run: |
        cp tests/generic.json config/generic.json
        poetry run start

        git clone https://github.com/Lookyloo/PyLookylooMonitoring.git
        pushd PyLookylooMonitoring
        poetry install
        poetry run pytest tests/test_web.py
        popd

        poetry run stop

    - name: Test update script
      run: |
        poetry run update --yes
        sleep 30
        poetry run stop
